[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[packages]
fastapi = "^0.111.0"
redis = "^5.0.4"
qdrant-client = "^1.9.1"
langchain = "^0.1.17"
langchain-core = "^0.1.50"
langchain-openai = "^0.1.6"
langchain-community = "^0.0.36"
uvicorn = {extras = ["standard"], version = "^0.29.0"}
google-search-results = "^2.4.2"
langchain-text-splitters = "^0.0.1"
lxml = "^5.2.1"
pypdf = "^4.2.0"
oss2 = "^2.18.5"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
