[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[packages]
fastapi = "*"
redis = "*"
qdrant-client = "*"
langchain = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-community = "*"
uvicorn = {extras = ["standard"], version = "*"}
google-search-results = "*"
langchain-text-splitters = "*"
lxml = "*"
pypdf = "*"
oss2 = "*"
pytz = "*"
sqlalchemy = "*"
pydantic = "*"
python-jwt = "*"
passlib = "*"
psycopg2-binary = "*"
pyjwt = "*"
bcrypt = "*"
docx2txt = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
